
.dashboard-product-box{
   
    background-color: white;
    padding: 2rem;
    overflow: auto;
    @include square(100%);
    
}
.create-product-button{
  
 position: fixed;
 top: 2rem;
 right: 2rem;
 background-color:rgb(201,9,9);
 color: white;

 @include flex; 
 border-radius: 50%;
 padding: 0.5rem;
   
  
   &:hover{
    opacity: 0.8;
   }
   
   
}